<div>
    <div class="quadrado">
        <form [formGroup]="formGroup">
            <div style="display: flex; flex-direction: column;">
                
                <!-- Reclamação -->
                <div class="containerInput" style="margin-bottom: 30px;">
                    <mat-label for="reclamacao_id">Reclamação</mat-label>
                    <input  matInput type="text" formControlName="reclamacao" id="reclamacao_id" />
                    <mat-error *ngIf="formGroup.get('reclamacao') &&
                    formGroup.get('reclamacao')?.invalid &&
                    formGroup.get('reclamacao')?.touched">
                        Reclamação é obrigatório.
                    </mat-error>
                </div>

                <mat-divider></mat-divider>

                <!-- IdProduto -->
                <div class="containerInput" style="margin-bottom: 30px;">
                    <mat-label for="reclamacao_id">IdProduto</mat-label>
                    <input class="IdProduto" matInput type="text" formControlName="IdProduto" id="reclamacao_id" />
                    <mat-error *ngIf="formGroup.get('IdProduto') &&
                      formGroup.get('IdProduto')?.invalid &&
                      formGroup.get('IdProduto')?.touched">
                      IdProduto é obrigatória.
                    </mat-error>
                </div>

                <mat-divider></mat-divider>

                <!-- IdUsuario ********************************** -->
                <div class="containerInput" style="margin-bottom: 30px;">
                    <mat-label for="reclamacao_id">IdUsuario</mat-label>
                    <input class="IdProduto" matInput type="text" formControlName="IdProduto" id="reclamacao_id" />
                    <mat-error *ngIf="formGroup.get('IdProduto') &&
                      formGroup.get('IdProduto')?.invalid &&
                      formGroup.get('IdProduto')?.touched">
                      IdProduto é obrigatória.
                    </mat-error>
                </div>

                <div class="button">
                    <div class="example-button-row">
                        <button mat-raised-button color="primary">Finalizar</button>
                    </div>
                </div><br>


            </div>
        </form>

    </div>

</div>