.tituloAA {
  height: 23px;
  margin-left:40px ;
}

.tituloF {

  height: 23px;
  margin-left:99px ;
}

.tituloFor {

  height: 23px;
  margin-left:75px ;
}

.tituloV {

  height: 23px;
  margin-left:80px ;
}

.titulo-funcao-AA {
  margin-right: 87px;
}
.titulo-funcao-F {
  margin-right: 112px;
}
.titulo-funcao-For {
  margin-right: 62px;
}
.titulo-funcao-V {
  margin-right: 87px;
}
.redirecionador{

  margin-right: 13px;
}
.titulo-geral {

  color: white;
  background-color:rgba(53, 53, 53, 1) ;
}
.titulo-funcao-adiministrador {
  margin-right: 45px;
}

.title {
  text-align: center;
}

mat-drawer-container {
  height: 80%;
  margin-left: 1%;
  margin-top: 1%;
}