<mat-drawer-container>
  <mat-drawer mode="side" opened>
      <div class="admin">
        <div>
          <div class="AuthUser">
            <div class="titulo-geral">
              <a class="tituloAA">Autentincação e Autorização </a>
            </div>
            <div class="butao">
              <a class="titulo-funcao-AA">Usuário</a>
              <a class="redirecionador" routerLink="">Adicionar</a>
              <a class="redirecionador" routerLink="">Alterar</a>
            </div>
          </div>
          <div>
            <a class="titulo-funcao-adiministrador">Administrador</a>
            <a class="redirecionador" routerLink="">Adicionar</a>
            <a class="redirecionador" routerLink="">Alterar</a>
          </div>
        </div>
        <div class="Flor">
          <div class="titulo-geral">
            <a class="tituloF">Flores</a>
          </div>
          <div class="flor">
            <div class="butao">
              <a class="titulo-funcao-F">Flor</a>
              <a class="redirecionador" routerLink="">Adicionar</a>
              <a class="redirecionador" routerLink="">Alterar</a>
            </div>
          </div>
        </div>
        <div class="Fornecedor">
          <div class="titulo-geral">
            <a class="tituloFor">Fornecedor</a>
          </div>
          <div class="Fornecedor">
            <div class="butao">
              <a class="titulo-funcao-For">Fornecedor</a>
              <a class="redirecionador" routerLink="">Adicionar</a>
              <a class="redirecionador" routerLink="">Alterar</a>
            </div>
          </div>
        </div>
        <div class="Vendas">
          <div class="titulo-geral">
            <a class="tituloV">Vendas</a>
          </div>
          <div class="Vendas">
            <div class="butao">
              <a class="titulo-funcao-V">Vendas</a>
              <a class="redirecionador" routerLink="">Adicionar</a>
              <a class="redirecionador" routerLink="">Alterar</a>
            </div>
          </div>
        </div>
      </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
