<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <div>
      <div>
        <p class="titulo-geral">Autentincação e Autorização</p>
      </div>
      <div class="formatDiv">
        <a>Usuário</a>
        <div>
          <a class="redirecionador1" routerLink="">Adicionar</a>
          <a class="redirecionador2" routerLink="">Alterar</a>
        </div>
      </div>

      <div class="formatDiv">
        <a>Administrador</a>
        <div>
          <a class="redirecionador1" routerLink="">Adicionar</a>
          <a class="redirecionador2" routerLink="">Alterar</a>
        </div>
      </div>
    </div>

    <div class="space">
      <br>
    </div>

    <div>
      <div>
        <p class="titulo-geral">Flor</p>
      </div>
      <div class="formatDiv">
        <a>Flores</a>
        <div>
          <a class="redirecionador1" routerLink="">Adicionar</a>
          <a class="redirecionador2" routerLink="">Alterar</a>
        </div>
      </div>
    </div>

    <div class="space">
      <br>
    </div>

    <div>
      <div>
        <p class="titulo-geral">Fornecedor</p>
      </div>
      <div class="formatDiv">
        <a>Fornecedores</a>
        <div>
          <a class="redirecionador1" routerLink="">Adicionar</a>
          <a class="redirecionador2" routerLink="">Alterar</a>
        </div>
      </div>
    </div>

    <div class="space">
      <br>
    </div>

    <div>
      <div>
        <p class="titulo-geral">Estoque</p>
      </div>
      <div class="formatDiv">
        <a>Estoque</a>
        <div>
          <a class="redirecionador1" routerLink="">Adicionar</a>
          <a class="redirecionador2" routerLink="">Alterar</a>
        </div>
      </div>
    </div>

    <div class="space">
      <br>
    </div>

    <div>
      <div>
        <p class="titulo-geral">Produto</p>
      </div>
      <div class="formatDiv">
        <a>Produtos</a>
        <div>
          <a class="redirecionador1" routerLink="">Adicionar</a>
          <a class="redirecionador2" routerLink="">Alterar</a>
        </div>
      </div>
    </div>

    <div class="space">
      <br>
    </div>

    <div>
      <div>
        <p class="titulo-geral">Desconto</p>
      </div>
      <div class="formatDiv">
        <a>Descontos</a>
        <div>
          <a class="redirecionador1" routerLink="">Adicionar</a>
          <a class="redirecionador2" routerLink="">Alterar</a>
        </div>
      </div>
    </div>

    <div class="space">
      <br>
    </div>

  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>