.titulo-geral {
  text-align: center;
  color: white;
  background-color:#353535;
}

.tituloFor {

  height: 23px;
  margin-left:75px ;
}

.tituloV {

  height: 23px;
  margin-left:80px ;
}

.titulo-funcao-AA {
  margin-right: 87px;
}
.titulo-funcao-F {
  margin-right: 112px;
}
.titulo-funcao-For {
  margin-right: 62px;
}
.titulo-funcao-V {
  margin-right: 87px;
}
.redirecionador{

  margin-right: 13px;
}

.titulo-funcao-adiministrador {
  margin-right: 45px;
}

.title {
  text-align: center;
}

mat-drawer-container {
  height: 80%;
  margin-left: 1%;
  margin-top: 1%;
}
.space{
  margin-bottom: 22px;
}