<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <div class="space">
      <div class="titulo-geral">
        <p>Autentincação e Autorização </p>
      </div>
      <div>
        <a class="titulo-funcao-AA">Usuário</a>
        <a class="redirecionador" routerLink="">Adicionar</a>
        <a class="redirecionador" routerLink="">Alterar</a>
      </div>
      <div>
        <a class="titulo-funcao-adiministrador">Administrador</a>
        <a class="redirecionador" routerLink="">Adicionar</a>
        <a class="redirecionador" routerLink="">Alterar</a>
      </div>
    </div>

    <div class="space">
      <div class="titulo-geral">
        <p>Flores</p>
      </div>
      <div>
        <div>
          <a class="titulo-funcao-F">Flor</a>
          <a class="redirecionador" routerLink="">Adicionar</a>
          <a class="redirecionador" routerLink="">Alterar</a>
        </div>
      </div>
    </div>

    <div class="space">
      <div class="titulo-geral">
        <p>Fornecedor</p>
      </div>
      <div>
        <a class="titulo-funcao-For">Fornecedor</a>
        <a class="redirecionador" routerLink="">Adicionar</a>
        <a class="redirecionador" routerLink="">Alterar</a>
      </div>
    </div>

    <div class="space">
      <div class="titulo-geral">
        <p>Vendas</p>
      </div>
      <div>
        <a class="titulo-funcao-V">Vendas</a>
        <a class="redirecionador" routerLink="">Adicionar</a>
        <a class="redirecionador" routerLink="">Alterar</a>
      </div>
    </div>

  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>