<body>
  <div>
    <mat-toolbar class="toolbar">
      <span class="color">Administração do Jardim Virtual</span>
      <span class="example-spacer"></span>
      <span class="color">Bem Vindo(a).</span>
      <a class="link-navbar" href="http://localhost:4200">Ver site</a>
      <a class="link-navbar" href="">Alterar senha</a>
      <a class="link-navbar encerrar-sessao" href="http://localhost:4200/administrador/login">Encerrar sessão</a>
    </mat-toolbar>
    <div class="caminho"><span class="color">Administração do Site</span></div>
  </div>
  <app-sidebar></app-sidebar>
</body>
