/* mat-form-field */
.full-width-input {
    width: 100%;
    margin-bottom: 20px;
}

mat-card {
    max-width: 800px;
    margin: 2rem auto;
    /* Centraliza horizontalmente */
}

mat-card-actions {
    display: flex;
    justify-content: flex-end;
}

/* para a div */
.form-container {
    padding: 1rem;
} 

.centered-toolbar {
    margin: 1%;
    display: flex;
    justify-content: center;
    font-size:x-large;
    color: white;
}

button[mat-raised-button] {
    width: 120px;
    /* tamanho do botao */
}

button[mat-raised-button]:not(:last-child) {
    margin-right: 1rem;
    /* Adiciona margem à direita de todos os botões, exceto o último */
}

mat-label{
    font-size: 25px;
    color: white;
    padding-right: 50px;
}

mat-divider{
    background-color: #414141;
    margin-bottom: 15px;
}

input{
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
    background-color: #121212;
    color: white;
    width: 40%;
}

.spaceLeft{
    margin-left: 5%;
}