<body>
  <div>
    <mat-toolbar class="toolbar">
      <span class="color">Administração do Jardim Virtual</span>
      <span class="example-spacer"></span>
      <span class="color">Bem Vindo(a).</span>
      <a class="link-navbar" href="http://localhost:4200">Ver site</a>
      <a class="link-navbar" href="">Alterar senha</a>
      <a class="link-navbar encerrar-sessao" href="http://localhost:4200/administrador/login">Encerrar sessão</a>
    </mat-toolbar>
    <div class="caminho"><span class="color">Administração do Site</span></div>
  </div>
  <div class="sidebar">
    <div class="admin">
      <div class="AutentincaçãoAutorização">
        <div class="titulo-geral">
          <a class="tituloAA">Autentincação e Autorização </a>
        </div>
        <div>
          <div>
            <a class="titulo-funcao-AA">Usuário</a>
            <a class="redirecionador" routerLink="">Adicionar</a>
            <a class="redirecionador" routerLink="">Alterar</a>
          </div>
        </div>
        <div>
          <a class="titulo-funcao-adiministrador">Administrador</a>
          <a class="redirecionador" routerLink="">Adicionar</a>
          <a class="redirecionador" routerLink="">Alterar</a>
        </div>
        <div class="faixa">
          <br />
        </div>
      </div>
      <div class="Flor">
        <div class="titulo-geral">
          <a class="tituloF">Flores</a>
        </div>
        <div class="flor">
          <div>
            <a class="titulo-funcao-F">Flor</a>
            <a class="redirecionador" routerLink="">Adicionar</a>
            <a class="redirecionador" routerLink="">Alterar</a>
          </div>
        </div>
        <div class="faixa">
          <br />
        </div>
      </div>
      <div class="Fornecedor">
        <div class="titulo-geral">
          <a class="tituloFor">Fornecedor</a>
        </div>
        <div class="Fornecedor">
          <div>
            <a class="titulo-funcao-For">Fornecedor</a>
            <a class="redirecionador" routerLink="">Adicionar</a>
            <a class="redirecionador" routerLink="">Alterar</a>
          </div>
        </div>
        <div class="faixa">
          <br />
        </div>
      </div>
      <div class="Vendas">
        <div class="titulo-geral">
          <a class="tituloV">Vendas</a>
        </div>
        <div class="Vendas">
          <div>
            <a class="titulo-funcao-V">Vendas</a>
            <a class="redirecionador" routerLink="">Adicionar</a>
            <a class="redirecionador" routerLink="">Alterar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
