<body>
  <p>
    <mat-toolbar class="toolbar">
      <span class="color">Administração do Jardim Virtual</span>
      <span class="example-spacer"></span>
      <span class="color">Bem Vindo(a).</span>
      <a class="link-navbar" href="">Ver site</a>
      <a class="link-navbar" href="">Alterar senha</a>
      <a class="link-navbar encerrar-sessao" href="">Encerrar sessão</a>
    </mat-toolbar>
  </p>

  <div class="admin">
    <div class="box">
      <div class="superior">
        <a>Autentincação e Autorização </a>
      </div>
      <div class="user">
        <div class="butao">
          <a class="teste">Usuário</a>
          <a href="teste.html">Adicionar</a>
          <a href="teste.html">Alterar</a>
          <a href="teste.html">Excluir</a>
          <a href="teste.html">Visualizar</a>
        </div>
      </div>
      <div class="adm">
        <a class="testee">Administrador</a>
        <a href="teste.html">Adicionar</a>
        <a href="teste.html">Alterar</a>
        <a href="teste.html">Excluir</a>
        <a href="teste.html">Visualizar</a>
      </div>
    </div>
    <br />
    <div class="boxdireita">
      <a class="title">Ações Recentes</a>
    </div>
  </div>
</body>
