.toolbar{
  background-color: #353535;
}

.example-spacer {
  flex: 1 1 auto;
}

.link-navbar{
  margin: 0 4px 0 0;
  text-decoration: none;
}

.link-navbar:active, .link-navbar:visited, .link-navbar:link{
  color: white;
}

.link-navbar::after{
  content: "/";
  display: inline-block;
  color: black;
  margin: 0 4px;
  text-align: center;
  font-size: 22px;
}

.encerrar-sessao::after{
  display: none;
  background: white;
}

.color{
  color: white;
}

body{
  background-color: #121212;
}

.admin {
  width: 800px;
  height: 60px;
  flex-shrink: 0;
  background-color: white;

  margin-top: 5%;
}

.superior {

  height: 23px;
  text-align: center;
  color: white;
  background-color: 353535;
}

.butao {
  width: 800px;
  text-align: left;
}

.teste {
  margin-right: 490px;
}

.testee {
  margin-right: 445px;
}

.boxdireita {
  margin-top: -9.3%;
  margin-left: 105%;
  width: 300px;
  height: 722px;
  flex-shrink: 0;
  color: black;
  background-color: white;
}

.title {
  text-align: center;
}
