<ng-container *ngIf="carrinhoItens.length > 0; else carrinhoVazio">
  <div *ngFor="let item of carrinhoItens" class="carrinho-item">
    <!-- <img [src]="item.imageUrl" alt="{{ item.nome }}"> -->
    <h3>{{ item.nome }}</h3>
    <p>Valor Unidade: {{ item.valorUnidade }}</p>
    <p>Quantidade: {{ item.quantidade }}</p>
    <p>Total: {{ item.quantidade * item.valorUnidade }}</p>
    <button mat-raised-button color="warn" (click)="removerItem(item)">
      Remover do Carrinho
    </button>
  </div>
  <p>Total do Carrinho: {{ calcularTotal() }}</p>
  <button mat-raised-button color="primary">Finalizar Compra</button>
</ng-container>
<ng-template #carrinhoVazio>
  <p>O carrinho está vazio.</p>
</ng-template>
