<div class="container">
  <div class="centered-div">
    <h2>Administração</h2>
    <h3>Login</h3>
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Senha</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </p>
    <mat-card-actions class="center-button">
      <button mat-raised-button color="primary">Acessar</button>
    </mat-card-actions>
  </div>
</div>
