<div>
    <div class="quadrado">
        <form [formGroup]="formGroup">
            <div style="display: flex; flex-direction: column;">
                 <!-- IdUsuario -->
                 <div class="containerInput" style="margin-bottom: 30px;">
                    <mat-label for="fidelidade_id">IdUsuario</mat-label>
                    <input class="IdProduto" matInput type="text" formControlName="IdUsuario" id="fidelidade_id" />
                    <mat-error *ngIf="formGroup.get('IdUsuario') &&
                      formGroup.get('IdUsuario')?.invalid &&
                      formGroup.get('IdUsuario')?.touched">
                      IdUsuario é obrigatória.
                    </mat-error>
                </div>

                <mat-divider></mat-divider>

                <!-- IdDesconto -->
                <div class="containerInput" style="margin-bottom: 30px;">
                    <mat-label for="fidelidade_id">IdDesconto</mat-label>
                    <input class="IdProduto" matInput type="text" formControlName="IdDesconto" id="fidelidade_id" />
                    <mat-error *ngIf="formGroup.get('IdDesconto') &&
                      formGroup.get('IdDesconto')?.invalid &&
                      formGroup.get('IdDesconto')?.touched">
                      IdDesconto é obrigatória.
                    </mat-error>
                </div>

                <div class="button">
                    <div class="example-button-row">
                        <button mat-raised-button color="primary">Finalizar</button>
                    </div>
                </div><br>


            </div>
        </form>

    </div>

</div>